<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head', {title: model.title}); %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1><%=model.title%></h1>
    </div>
</main>



<form method="post" action="#">

	<% for(var i=0; i<model.fields.length; i++) {
		var input = model.fields[i];
		%>

		<% if(input.render){ %>

		  <div class="form-group">
		    <label for="<%=input.name%>"><%=input.description%></label>
		    <input type="text" class="form-control reportitem" id="<%=input.name%>" name="<%=input.name%>" aria-describedby="<%=input.description%>" placeholder="Enter <%=input.description%>" value="<%= input.default %>">
		    
		  </div>

		<% }else if (false == input.exclude){ %>
			<input type="hidden" class="form-control reportitem" name="<%=input.name%>" id="<%=input.name%>" value="<%= input.default %>">
		<% } %>


		<div>
			<% Object.keys(input).forEach(function(key) { 
				var val = input[key];
				%>
				<%= key %>:<%= val %> <br/>
			<% }); %>
		</div>
		<HR>


	<% } %>


  <button type="button" class="btn btn-primary">Submit</button>
</form>

<footer>
    <% include ../partials/footer %>
</footer>

<script>

$(document).ready(function() {
	$('.btn-primary').on('click', function() {
		var data={};

		$( '.reportitem' ).each(function( index ) {
			data[$( this ).attr('name')] = $( this ).val();
		});


		$.ajax({
		  type: 'POST',
		  url: '<%=model.endpoint%>',
		  data: data,
		  done: function(product) {
		    alert('done');
		  },
		  fail: function(error) {
			console.log('An error occurred:', error);
		  	alert('Error' + error);
		    
		  }
		});

	});


});

</script>

</body>
</html>